.Cover {
  width: 128px;
  height: 182px;
  background-color: #D8D8D8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Cover-image {
  width: 128px;
  height: 182px;
}

.Cover-default {
  width: 60%;
}
