.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-filter-bar {
  height: 110px;
  margin-top: 15px;
  width: 725px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
