.Home {
  margin: 15px;
  border-color: #DDD;
  border-style: solid;
  border-width: thin;
  font-family: arial, helvetica, sans-serif;
  font-size: 14px;
}

.Home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Home-filter-bar {
  height: 110px;
  margin-top: 15px;
  width: 725px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
