.BookDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BookDetail-back {
  align-self: flex-start;
  margin: 24px 34px;
  font-size: 12px;
  line-height: 19px;
  color: #999;
}
.BookDetail-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin-bottom: 34px;
}
.BookDetail-separator {
  background-color: #98D6F7;
  width: 800px;
  height: 2px;
  margin: 31px 0 31px 0;
}
