.Information {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}
.Information-image {
  height: 272px;
  width: 191px;
}
.Information-container {
  margin-left: 21px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
.Information-title {
  font-size: 20px;
  margin: 0;
}
.Information-author, .Information-year, .Information-genre {
  font-size: 16px;
  font-weight: lighter;
  color: #4A4A4A;
  margin: 0;
}
.Information-resume {
  font-size: 14px;
  font-weight: lighter;
  color: #999;
  margin: 0;
}
