.Header {
  background-color: #FFFFFF;
  box-shadow: 0 5px 5px #DDD;
  color: white;
  height: 96px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Header-logo {
  height: 42px;
  width: 182px;
  margin: 0 20px;
}

.Header-menu {
  width: 182px;
  margin: 0 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
